* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* STICKY FOOTER */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

:root {
    /* Asigna los colores que llevaran todos los textos de la web */

    --colorPrimario: #98cab4;
    --colorSecundario: #0d4c56;
    --colorTerciario: #ffffff;

    --colorH1: #98cab4;
    --colorH2: #0d4c56;
    --colorH3: #98cab4;

    --colorTextos: #ffffff;
    --colorTextosSecundarios: #0d4c56;

    --colorEnlaces: #98cab4;
    --colorBotones: #0d4c56;
    --colorBlackground: #000000;
    --colorFooter: #98cab451;
}


/* HEADER */

.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto 0 auto;
    padding: 0 20px;
    /* Se pone 0 arriba y abajo para que aparezcan juntas pero luego se puede modificar en las especificas */
    overflow: hidden;
    /* Para evitar que los elementos hijos se desborden */
    color: var(--colorH3);

}

.menu {
    display: flex;
    /* Pone logo y enlaces en fila */
    justify-content: space-between;
    /* Logo izquierda, enlaces derecha */
    align-items: center;
    /* Centra verticalmente los elementos */
    height: 70px;
    /* Altura fija del menú (header) */
    background-color: var(--colorTerciario);
    color: var(--colorBotones);

}

.menu_logo_img {
    display: flex;
    /* Evita espacio fantasma debajo de la imagen */
    align-items: center;
    /* Centra verticalmente el logo */
    height: 80px;
    /* Ajusta la altura del logo según sea necesario */
    background-color: white;
    /* Color de fondo blanco para el logo */
}

.cajas_enlaces_redes {
    display: flex;
    /* Pone los enlaces y redes en fila */
    align-items: center;
    /* Centra verticalmente los elementos */
    gap: 20px;
    /* Añade espacio entre los elementos */
}

.enlaces_lista {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 20px;
    color: var(--colorBotones);
    margin-right: 10px;
    /* Añade espacio a la derecha de los enlaces */
}

.enlaces_lista a {
    text-decoration: none;
    color: var(--colorBotones);
    /* Color de los enlaces */
    font-weight: bold;
    /* Pone los enlaces en negrita */
    /* Tamaño de fuente de los enlaces */
}

.enlaces_lista a:hover {
    /* Pseudoclase */
    text-decoration: underline;
}

.redes_lista {
    display: flex;
    list-style: none;
    font-size: 1rem;
    color: var(--colorBotones);
    list-style: none;
    /* Quita los puntos de la lista */
    gap: 10px;
}

.redes_lista a {
    text-decoration: none;
}

.redes_lista i {
    color: var(--colorBotones);
}

.redes_lista i:hover {
    color: var(--colorPrimario);
}





/* MAIN */

/* HERO */

.hero {
    height: 500px;
    /* Altura fija del hero */
    background-image: url(Imagenes/Fondo\ header.jpg);
    background-position: center;
    background-size: cover;
    /* Ajusta img a caja */
    background-attachment: fixed;
    /* hace que la img se mueva al hacer scroll */
}

.hero_contenedor {
    height: 100%;
    /* Para que el contenedor ocupe toda la altura del hero */
    display: flex;
    /* Pone los elementos en fila */
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2%;
    /* Añade espacio entre los elementos */
    color: var(--colorTextos);
}

.hero_titulo {
    font-size: 3rem;
    text-align: center;
    /* text-shadow: 2px 2px 4px var(--colorBlackground); */
    color: var(--colorH1);
    font-family: 'Arial Rounded MT Bold';
}

.hero_texto {
    font-size: 1rem;
    text-align: center;
    color: var(--colorTextos);
    margin: 0 20%;
}

.hero_texto_dos {
    font-size: 1rem;
    text-align: center;
    color: var(--colorTextos);
    margin: 0 20%;
}

.hero_cta {
    width: 150px;
    height: 60px;
    padding: 12px 0;
    margin-top: 20px;
    background: var(--colorPrimario);
    color: var(--colorBotones);
    text-decoration: none;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.hero_cta:hover {
    text-decoration: underline;
    text-align: center;
    background: var(--colorPrimario);
    color: var(--colorBotones);
}

.main_enlaces {
    height: 500px;
    color: var(--colorH2);
    text-align: center;
}

.titulo_enlaces {
    font-family: "Arial Rounded MT Bold";
}

/* NOTICIAS */

.noticias {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}

.noticias_contenido {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    background-color: var(--colorario);
    justify-content: center;
    color: var(--colorTextos);
    font-family: 'Arial';
}

.noticias_titulo {
    display: flex;
    /* hace que sea como una cajita que se pone donde le diga*/
    justify-content: center;
    color: var(--colorH2);
    padding: 20px 0;
    font-family: 'Arial Rounded MT Bold';
    margin-top: 50px;
}

.titular {
    color: var(--colorH2);
    font-family: 'Arial Rounded MT Bold';
}

.noticia {
    background-color: var(--colorPrimario);
    padding: 10px;
    margin: 10px;
    width: 240px;
    height: 390px;
    text-align: center;
    box-shadow: 0 2px 8px var(--colorPrimario);
}

.noticia:hover {
    box-shadow: 0 4px 20px var(--colorPrimario);
}

.img_noticia1 {
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px auto;
    object-fit: cover;
}

.img_noticia2 {
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px auto;
    object-fit: cover;
}

.img_noticia3 {
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px auto;
    object-fit: cover;
}

.img_noticia4 {
    display: block;
    width: 180px;
    height: 180px;
    margin: 20px auto;
    object-fit: cover;
}

.noticias a {
    color: var(--colorBotones);
    text-decoration: none;
}

.noticias a:hover {
    /* Pseudoclase */
    color: var(--colorTextos);
    text-decoration: underline;
}




/* TESTIMONIOSS */

.testimonios {
    display: flex;
    flex-direction: column;
    background-color: var(--colorFooter);
    height: auto;
    margin-top: 50px;
    gap: 10px;
    /* gap: para poner espaciado personalizado */
}

.testimonios_contenido {
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    color: var(--colorTerciario);
}

.testimonios_titulo {
    display: flex;
    /* hace que sea como una cajita que se pone donde le diga*/
    justify-content: center;
    color: var(--colorH2);
    font-family: 'Arial Rounded MT Bold';
    margin-top: 50px;
}

.testimonio {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* "margen interior" */
    margin: 10px;
    margin-bottom: 50px;
    width: 350px;
    height: 330px;
    text-align: center;
    color: var(--colorTextos);
    background-color: var(--colorSecundario);
    box-shadow: 0 2px 8px var(--colorSecundario);
    border-radius: 20px;
}

.perfil_testimonio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

.contenido_testimonio {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.nombre {
    color: var(--colorH3);
    font-family: 'Arial Rounded MT Bold';
    align-items: center;
}

.enlace {
    color: var(--colorEnlaces);
    text-decoration: none;
}

.enlace:hover {
    text-decoration: underline;
    color: var(--colorTextos);
}

.img_perfil {
    display: block;
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 50%;
}



/* FORMULARIO */

.formulario_section {
    height: 300px;
    margin: 100px auto 30px auto;
    text-align: center;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* alinear horizontal */
    /* align-items: center; alinear cada mitad a su centro */
    font-family: 'Arial';
    color: var(--colorTerciario);
    border: 1px solid var(--colorSecundario);
}

.formulario_img {
    height: 300px;
    width: 50%;
    display: block;
}

.formulario {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formulario_titulo {
    display: flex;
    justify-content: center;
    color: var(--colorH2);
    font-family: 'Arial Rounded MT Bold';
    margin-bottom: 20px;
}

.formulario_contenido {
    width: 400px;
    margin: 0 40px 0 0;
}

.formulario_nombre {
    height: 25px;
    width: 37%;
    border: 1px solid var(--colorBotones);
    border-radius: 5px;
    margin: 0 5px 10px 0;
    padding: 0 0 0 5px;
}

.formulario_apellidos {
    height: 25px;
    width: 60%;
    border: 1px solid var(--colorBotones);
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 0 0 0 5px;
}

.formulario_email {
    height: 25px;
    width: 100%;
    border: 1px solid var(--colorBotones);
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 0 0 0 5px;
}

.formulario_comentario {
    height: 50px;
    width: 100%;
    border: 1px solid var(--colorBotones);
    border-radius: 5px;
    margin: 0 0 10px 0;
    padding: 0 0 30px 5px;
}

.formulario_enviar {
    height: 15%;
    width: 40%;
    color: var(--colorBotones);
}




/* FOOTER */

.footer {
    width: 1100px;
    height: 150px;
    padding: 30px;
    margin: 70px auto 0 auto;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
    font-family: 'Arial';
    color: var(--colorBotones);
    background-color: var(--colorFooter);
    justify-content: center;
}

.footer_contenido {
    width: 100%;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: var(--colorPrimario);
}

.footer_logo {
    align-items: center;
    display: flex;
    gap: 10px;
}

.footer_logo_img {
    display: flex;
    align-items: center;
    /* Centra verticalmente el logo */
    height: 80px;
    width: auto;
    opacity: 100%;
}


.footer_logo_texto {
    display: flex;
    flex-direction: column;
    color: var(--colorTextosSecundarios);
    font-size: 2rem;
    font-family: "Arial Rounded MT Bold";
}

.footer_contacto {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--colorTextosSecundarios);
}

.footer_rrss ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.footer_rrss a {
    text-decoration: none;
}

.footer_rrss i {
    color: var(--colorBotones);
}

.footer_rrss i:hover {
    color: var(--colorTerciario);
}

.footer_derechos ul {
    text-align: center;
    list-style: none;
}

.footer_derechos li a {
    text-decoration: none;
    color: var(--colorBotones);
}

.footer_derechos li a:hover {
    text-decoration: underline;
    color: var(--colorTerciario);
}